*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color:#454E57;
    color:lightgray;
    margin:0px 0px 15px;
}
.container{
    margin-left:auto;
    margin-right:auto;
    width:800px;
}
p{
    font-size:1em;
}
p span{
    color:gray;
    font-size: 0.8em;
}
h1{
    font-weight: bolder;
    margin:10px 0px;
}
h3{
    border-bottom:4px #1FB3E5 solid;
    padding:15px 0px;
    margin:20px 0px;
}
input[type="text"],input[type="tel"],input[type="email"],input[type="number"]{
    width:100%;
    border:none;
    border-bottom:1px gray solid;
    padding:5px 0px 3px 0px;
    margin:15px 0px;
}
input:invalid {
    border-bottom: 1px solid indianred;
  }
  
input::-webkit-input-placeholder{
    font-size:1.5em;
}
textarea::-webkit-input-placeholder{
    font-size: 1.5em;
}
header{
    text-align: center;
    margin:30px;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.div-name-email{
    width:48%;
    margin-right:4%;
}
.div-phone{
    width:48%;    
}
.address-item {
    width: 24%;
}
.address {
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.design-row {
    display: flex;
    justify-content: space-between;
    margin:10px 0px;
    width: 100%;
}
input[type=radio] {
    display: none;
}

input[type="radio"]+label {
    width: 20%;
    text-align: center;
    border: 1px solid white;
    padding: 10px;}
   
input[type="radio"]:checked+label{
    background-color:#1FB3E5; 
    color:white;
} 
.skills-location-column{
    width:48%;
    padding-left:10px;
}
textarea{
    width: 100%;
}
input[type=submit]{
    background-color: #1FB3E5;
    padding: 10px 30px;
    color: white;
    margin: 20px 0px;
    font-size:15px;
}