.ComponentPersonalInformation {
  display: grid;
}
.ComponentPersonalInformation input {
  width: 100%;
  border: none;
  border-bottom: 1px gray solid;
  padding: 5px 0px 3px 0px;
  margin: 15px 0px;
  font-size: 1rem;
}
.InformationNameEmailPhone {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}
.InformationAdress {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.Invalid{
  border-bottom:1px solid indianred !important;
}