.ComponentPortfolio {
  display: grid;
}
.ComponentPortfolio textarea {
  width: 100%;
  font-size: 1rem;
}
.ComponentPortfolio input {
  width: 100%;
  border: none;
  border-bottom: 1px gray solid;
  padding: 5px 0px 3px 0px;
  margin: 15px 0px;
  font-size: 1rem;
}
.Invalid {
  border-bottom: 1px solid indianred !important;
}
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:0;
}