.ComponentPorfolio textarea{
    width: 100%;
    font-size: 1rem;
}
.ComponentPorfolio input{
    width: 100%;
    border: none;
    border-bottom: 1px gray solid;
    padding: 5px 0px 3px 0px;
    margin: 15px 0px;
    font-size: 1rem;
  }
.ComponentPorfolio input:invalid {
    border-bottom: 1px solid indianred;
  }